@charset "UTF-8";
.boxs{
  width: 65px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: #fff;
  background: #00bddd;
}

/* Q5-1 */
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-row-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.block-column{
  display: block;
  flex-direction: column;
}
.block-column-reverse{
  display: flex;
  flex-direction: column-reverse;
}

/* Q5-2 */
.nowrap{
  display: flex;
  flex-wrap: nowrap;
}
.warp{
  display: flex;
  flex-wrap: wrap;
}
.warp-reverse{
  display: flex;
  flex-wrap: wrap-reverse;
}

/* Q5-3 */
.flex-start{
  display: flex;
  justify-content: flex-start;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}
.center{
  display: flex;
  justify-content: center;
}
.space-between{
  display: flex;
  justify-content: space-between;
}
.space-around{
  display: flex;
  justify-content: space-around;
}

/* Q5-4 */
.grid-boxs{
  padding: 10px;
  color: #fff;
  background: #00bddd;
}

.grid1{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
  margin-bottom: 20px;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}
.grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 10px;
  margin-bottom: 20px;
}

.grid-boxs-red{
  padding: 10px;
  color: #fff;
  background: #dd0700;
  grid-column: 1 / 3;
}
.grid-boxs-green{
  padding: 10px;
  color: #fff;
  background: #0bdd00;
  grid-row: 2 / 4 ;
}
.grid-boxs-yellow{
  padding: 10px;
  color: #fff;
  background: #d9dd00;
  grid-column: 2 / 4;
}
.grid4{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  margin-bottom: 20px;
}